/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 29, 2023, 4:12:20 AM
    Author     : maha
*/
/*6,7*/

main {
    height: auto;
   
}
#formAdd,#formEdit{
  background-color:  #EBF4FA;
  text-align: center;
    border: solid thin black;
  width:50%;

 margin:15%;
 margin-left:25%;
}




       
#prop1{
   text-align:center; 
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
  font-size: 25px;
}

       
#log{
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color:red;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 position: absolute;
 top:27%;
right: 7%; 
font-family: 'Crimson Text', serif;

}

#log::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #324760;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

#log:hover {
 color: red;
}

#log:hover::before {
 width: 100%;
}

a{
    color:#5B8C9B;
}
a:hover{
    color:#c84b32;
}

form{
font-family: 'Playfair Display', serif;
}


h3{
    font-size: 20px;
}